<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel='stylesheet', href='css/master.css')
        link(rel='stylesheet', href='css/font.css')
        link(rel="stylesheet", href='css/sxsize.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='js/master.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js")
    body         
        nav.row.clearfix
            .col-md-12.column
                nav.navbar.navbar-default.color(role='navigation')
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.sr-only
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        .img
                            a.navbar-brand(href='') GREEN WAVE
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.dropdown-menu
                            li
                                a(href='#') ??
                            li
                                a(href='#') ??
                            li
                                a(href='#') ??
                            li.divider
                            li
                                a(href='#') ??
                            li.divider
                            li
                                a(href='#') ??
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='#') &#x95DC;&#x65BC;&#x8C9D;&#x91CC;&#x65AF;
                            li
                                a(href='#') &#x7D93;&#x71DF;&#x7406;&#x5FF5;
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown') 品牌項目
                                    strong.caret
                                ul.dropdown-menu
                                    li
                                        a(href='#') 01.&#x6C34;&#x8CC7;&#x6E90;
                                    li
                                        a(href='#') 02.&#x751F;&#x7269;&#x8CC7;&#x6E90;
                                    li
                                        a(href='#') 03.&#x6A5F;&#x5668;&#x4EBA;&#x79D1;&#x6280;&#x6559;&#x80B2;
                                    //
                                        <li class="divider">
                                        </li>
                                        <li>
                                        <a href="#">Separated link</a>
                                        </li>
                            li
                                a(href='#') &#x6D3B;&#x52D5;&#x82B1;&#x7D6E;
                            li
                                a(href='#') &#x806F;&#x7E6B;&#x6211;&#x5011;
        header.container.col-md-12
            #myCarousel.carousel.slide.col-md-12
                // 轮播（Carousel）指标
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    li(data-target='#myCarousel', data-slide-to='1')
                    li(data-target='#myCarousel', data-slide-to='2')
                // 轮播（Carousel）项目
                .carousel-inner
                    .item.active
                        img(src='http://img.chinatimes.com/newsphoto/2016-04-24/656/20160424001167.jpg', alt='First slide')
                    .item
                        img(src='http://img.chinatimes.com/newsphoto/2016-04-24/656/20160424001167.jpg', alt='Second slide')
                        .carousel-caption &#x6807;&#x9898; 2
                    .item
                        img(src='http://img.chinatimes.com/newsphoto/2016-04-24/656/20160424001167.jpg', alt='Third slide')
                        .carousel-caption &#x6807;&#x9898; 3
                // 轮播（Carousel）导航
                a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next
            .col-md-12.inn
                .col-md-12
                    p More
                .col-md-12
                    b.btn-group.btn-group-justified.glyphicon.glyphicon-triangle-bottom
        section.col-md-12.GreenWave.about
            h1.fontmina 關於貝里斯
            hr.green
            .container
                .row
                    .col-md-4.left
                        .greenwave.img
                    .col-md-8.right
                        p 「貝里斯商環能綠力生技有限公司」以下簡稱Green Wave<br>一直以來致力於環境改善以及綠能科技的範疇<br>在台灣分公司於2017年正式成立後<br>也跨足生物科技領域<br>在領域內我們採用國家級實驗技術予以研發<br>希冀能為地球環境及人類生活帶來永續的改善
        section.col-md-12.GreenWave.manage
            h1.fontmina 經營理念
            hr.white
            .col-md-12.font
                p Green Wave即將為地球的環保永續帶起一陣新潮流促進生活更加美好的同時<br>也兼顧著環境與能源利用的相互關係希冀讓非天然化學造就的現代社會<br>返還世界應有的清新因著Green Wave的技術將這一切成為必然
            .col-md-12
                .container
                    .row
                        .col-md-4.col-sm-4.col-xs-4
                            img(src="https://cybra.com/wp-content/uploads/2015/04/plane-512-1.png", alt="")
                        .col-md-4.col-sm-4.col-xs-4
                            img(src="https://cybra.com/wp-content/uploads/2015/04/plane-512-1.png", alt="")
                        .col-md-4.col-sm-4.col-xs-4
                            img(src="https://cybra.com/wp-content/uploads/2015/04/plane-512-1.png", alt="")
        section.col-md-12.GreeWave.brands
            h1.fontmina 品牌項目
            hr.green
            .container
                .row
                    .col-md-12
                        .col-sm-4.col-md-4
                                .thumbnail
                                    .fixed
                                        img(src="https://png.pngtree.com/thumb_back/fw800/back_pic/03/99/24/2157f8429c2fbd2.jpg", alt="")
                                    .caption
                                        .caption
                                            h3.font 水資源
                                            p   在水資源的研究方面Green Wave<br>儼然成熟本著多年來致力<br>於海水淡水研究的經驗<br>近年更是在電解技術上<br>有突破性的成就相關<br>環保消毒產品至此孕育而生
                                            <br>
                                            a.btn.btn-primary(href="#" role="button") 了解更多
                        .col-sm-4.col-md-4
                                .thumbnail
                                    .fixed
                                        img(src="https://png.pngtree.com/thumb_back/fw800/back_pic/04/00/06/5357fba91399bf7.jpg", alt="")
                                    .caption
                                        .caption
                                            h3.font 生物科技
                                            p   因為著獨家技術支持Green Wave<br>對於沙棘研究，黃銅類保健及相關產物的研究堪稱史上之最，<br>除此之外改善人類疾病問題<br>更是我們致力解決的項目
                                            <br>
                                            a.btn.btn-primary(href="#" role="b，utton") 了解更多
                        .col-sm-4.col-md-4
                                .thumbnail
                                    .fixed
                                        img(src="https://png.pngtree.com/thumb_back/fw800/back_pic/03/72/55/1857b9508ba7a17.jpg", alt="")
                                    .caption
                                        .caption
                                            h3.font 水資源
                                            p   以簡單易懂的方式來進行科技教育<br>並且搭配大量實作實驗與生活上的現象<br>有實際研發與教育經驗和證照之教師群<br>親自設計教材達成科技教育初衷
                                            <br><br><br>
                                            a.btn.btn-primary(href="#" role="button") 了解更多    
        section.col-md-12.GreeWave.contact
          .container
            .row
              .col-sm-6
                .mails
                  .mailcover
                    .col-md-12.mailbody
                      .col-md-5.left
                        .imgletter
                        h5 給貝里斯商環能力公司,
                        label 我的問題 :
                        input(type="text")
                        label 我的名字 :
                        input(type="text" placeholder="必填")
                        label 我的信箱 :
                        input(type="texㄎt" placeholder="必填")
                        label 我的電話 :
                        input(type="text" placeholder="必填")
                        input(type="file" name="file[]" id="exampleInputFile" multiple="multiple")