@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  font-weight: 900;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 13px;
}

nav.navbar.navbar-default, .dropdown-menu > li > a {
  background-color: #E8DAB2 !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, .dropdown-menu > li > a {
  color: #1F7785 !important;
}

.col-md-12.inn p {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.col-md-12.inn b {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

hr.green {
  border: #0E4E57 3px solid;
  max-width: 50px;
}

hr.white {
  border: white 3px solid;
  max-width: 50px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #1F7785 !important;
}

.navbar-default .navbar-toggle {
  border-color: #1F7785 !important;
}

.col-md-12.GreenWave.manage {
  background-color: #1F7785;
  color: white;
}

p {
  padding: 20px;
}
